mkdocs-material
mkdocs-same-dir
mkdocs-literate-nav==0.5.0
mkdocs-section-index
mkdocs-include-markdown-plugin
mkdocs-git-revision-date-localized-plugin
-e git+https://github.com/libretiny-eu/mkdoxy#egg=mkdoxy
mkdocs-redirects
