/* from https://christianoliff.com/blog/styling-external-links-with-an-icon-in-css/ */
article a[href^="http"]::after,
article a[href^="https://"]::after {
	content: "";
	width: 14px;
	height: 14px;
	margin-left: 4px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3m-2 16H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7h-2v7Z'%3E%3C/path%3E%3C/svg%3E");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
}

a[href^="https://docs.libretuya.ml"]::after,
a[href^="http://localhost"]::after,
a[href^="https://"].md-button::after,
div[align="center"] a[href^="https://"]::after {
	display: none !important;
}
